@import "../../variables";

.about {
  &__main {
    @include flexCol;
    gap: 50px;
    padding: 100px 0;

    h3 {
      text-align: right;
      color: $text;
      font-size: 25px;
      font-weight: 700;
      line-height: 149.523%;
    }

    &-context {
      &-img {
        cursor: pointer;
        overflow: hidden;
        float: left;
        width: 666px;
        height: 444px;
        margin-right: 33px;
        border-radius: 12px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          @include transition;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }

      p {
        color: $text;
        font-size: 20px;
        font-weight: 400;
        line-height: 180%;
        text-align: justify;
      }
    }

    &-imgs {
      @include flex;
      gap: 24px;
      // justify-content: space-between;
      overflow: hidden;

      &-img {
        overflow: hidden;
        border-radius: 12px;

        img {
          width: 100%;
          height: 222px;
          cursor: pointer;
          border-radius: 12px;
          @include transition;
        }

        &:hover img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__partners {
    h3 {
      color: $text;
      width: fit-content;
      margin: 0 auto;
      font-size: 25px;
      border-bottom: 1px solid $red;
    }

    &-block {
      @include flexCenter;
      gap: 33px;
      padding: 70px 0;
    }

    &-card {
      @include flexCol;
      gap: 22px;

      img {
        width: 111px;
        height: 111px;
        object-fit: contain;
      }

      // h6 {
      //   color: $text;
      //   font-size: 17px;
      //   line-height: 0.5px;
      // }
    }
  }
}
